name: main

on:
  pull_request:
    branches: 
      - '**'  # This will trigger the workflow for pull requests on any branch
  push:
    branches:
      - 'main'  # This will trigger the workflow for pushes (merges) to the main branch

jobs:
  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup PowerShell 7
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Install PowerShell 7
        run: |
          winget install --id Microsoft.Powershell --source winget --accept-package-agreements --accept-source-agreements
        shell: cmd

      - name: Test Module Manifest
        run: Test-ModuleManifest -Path .\AcuInstallerHelper\AcuInstallerHelper.psd1
        shell: pwsh

      - name: Run Tests
        run: .\RunTests.ps1 -OutputFormat CI
        shell: pwsh

  publish:
    if: github.ref == 'refs/heads/main' # This job only runs when the branch is 'main'
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: Publish to PowerShell Gallery
        env:
          NUGET_API_KEY: ${{ secrets.POWERSHELL_GALLERY_API_KEY }}
        run: |
          Publish-Module -Path AcuInstallerHelper -NuGetApiKey ${{ secrets.POWERSHELL_GALLERY_API_KEY }} -Verbose
